body {
background-color: aqua;
}



button{
    padding: 0;
    margin: 0;
    list-style-type: none;

    outline: none;
}

a {
    text-decoration: none; /* tira o underline */
  }
  a {
    color: #2563eb;
    text-decoration: none;
    transition: color 0.3s ease; /* transição suave */
  }
  
  a:hover {
    color: #f43f5e; /* muda a cor ao passar o mouse */
  }
  a {
    color: #2563eb;
    text-decoration: none;
    position: relative;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #2563eb;
    left: 0;
    bottom: -2px; /* distância do texto */
    transition: width 0.3s;
  }
  
  a:hover::after {
    width: 100%; /* underline cresce ao passar o mouse */
  }
  