:root {
    --blue: #113255;
    --orange: #F99420;
    --white: #FFFFFF;
    --black: #000;
    --blueTRansparent: rgba(17, 50, 85, 1);
    --whiteTransparent: rgba(255, 255, 255, .9);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* html {
    font-size: 62.5%;
} */

body {
    /* background-color: #fff; */
    font-family: 'Roboto-regular', sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

button {
    outline: none!important;
    border: none;
}

.container-login {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100vh;
}

.column-login {
    height: 100vh;
}

.first-column-login {
    background-image: url('../img/Corporate_Identity_Mockup_3.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.second-column-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-login {
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
}

.card-login {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    width: auto;
}

.card-login__title {
    font-size: 45px;
    font-weight: bold;
    color: var(--blue);
}

.card-login__form {
    display: flex;
    flex-direction: column;
}

.card-login__group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login__icon {
    position: absolute;
    left: 20px;
    top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login__input,
.card-login__button {
    width: 400px;
    padding: 14px;
    border-radius: 35px;
    margin-top: 18px;
}

.card-login__input {
    border: 2px solid var(--blue);
    display: block;
    width: 100%;
    padding-left: 40px;
    color: var(--black);
    font-weight: bold;
    font-size: 17px;
}

.card-login__input::placeholder {
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
}


/*
.form-login__user {
    position: relative;
    left: -90%;
    font-size: 22px;
} */

.card-login__button {
    border: none;
    margin-top: 30px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--blue);
}

.card-login__recover {
    margin-top: 20px;
    color: var(--blueTRansparent);
    transition: color .1s;
}

.card-login__recover:hover {
    color: var(--orange);
}

.footer-login {
    position: relative;
    left: 200px;
    font-weight: bold;
    color: var(--blue);
}


/* @media (max-width:991px) {
    body {
        background-color: pink;
    }
} */

@media (max-width:768px) {
    .container-login {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .second-column-login {
        position: absolute;
        left: 10%;
        top: 5%;
        width: 80%;
        height: 90%;
        background-color: var(--white);
        border-radius: 10px;
        opacity: .9;
    }
    .logo-login {
        width: 100px;
        height: 100px;
        position: relative;
        left: 250px;
    }
    .card-login__recover {
        padding: 14px;
    }
    .footer-login {
        left: 250px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .card-login__input,
    .card-login__button {
        width: 450px;
        border-radius: 35px;
        margin-top: 18px;
    }
    .card-login__input {
        padding-left: 40px;
    }
    .card-login__group {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-login__icon {
        position: absolute;
        left: 20px;
        top: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:450px) {
    .container-login {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .second-column-login {
        position: absolute;
        left: 10%;
        top: 5%;
        /* width: 30rem; */
        width: 80%;
        height: 90%;
        background-color: var(--white);
        border-radius: 10px;
        opacity: .9;
    }
    .logo-login {
        width: 80px;
        height: 80px;
        position: relative;
        left: 110px;
    }
    .card-login__recover {
        padding: 14px;
    }
    .footer-login {
        left: 100px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .card-login__input,
    .card-login__button {
        width: 250px;
        padding: 14px;
        border-radius: 35px;
        margin-top: 18px;
    }
    .card-login__input {
        padding-left: 40px;
    }
}

@media (max-width:320px) {
    .logo-login {
        left: 80px;
    }
    .footer-login {
        left: 65px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .card-login__input,
    .card-login__button {
        width: 240px;
        border-radius: 35px;
        margin-top: 18px;
    }
    .card-login__input {
        padding-left: 40px;
    }
}
